/* Contenedor de la cabecera */
.pokemon-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: 600;
  font-size: 60px;
}

/* Contenedor padre */
.container-primary {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  margin: 6rem 6rem;
  gap: 12px;
}

/* Imagen del Pokémon */
.pokemon-images {
  width: 300px;
  height: 300px;
}

/* Contenedor de la derecha */
.container-details{
  display: flex; 
  flex-direction: column; 
  gap: 12px; 
  font-weight: 600;
  width: 500px;
  padding: 20px;
  margin-top: 2rem;
  background-color: #6b7280;
}
