.pokemon-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: 600;
  font-size: 60px;
}

.container-primary {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  margin: 6rem 6rem;
  gap: 12px;
}

.pokemon-images {
  width: 300px;
  height: 300px;
}

.container-details{
  display: flex; 
  flex-direction: row; 
  text-align: lef;
  gap: 40px; 
  font-weight: 600;
  width: 750px;
  padding: 20px;
  margin-top: 2rem;
  background-color: #6b7280;
  border-radius: 4px;
}

.details-type {
  background-color: aliceblue;
  width: 200px;
  height: 24px;
  border-radius: 8px;
  font-size: 15px;
}

.details-size {
  background-color: aliceblue;
  width: 125px;
  height: 24px;
  border-radius: 8px;
  font-size: 15px;
}